# =========================

# Compiled binaries

# =========================

*.exe
*.out
*.app

# =========================

# Object files

# =========================

*.o
*.obj
*.lo

# =========================

# Debug / build files

# =========================

*.ilk
*.pdb
*.idb

# =========================

# CMake (if used later)

# =========================

build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# =========================

# VSCode settings

# =========================

.vscode/

# =========================

# OS files

# =========================

.DS_Store
Thumbs.db

# =========================

# Temporary files

# =========================

*.log
